@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>My Live App</title>
</head>
<body>
    <h1>Auto Deploy FINAL TEST is complete</h1>
    <p>Updated live at: @Model.CurrentTime</p>
</body>
</html>